target/

.DS_Store
*-init.clj
figwheel_server.log

*.iml
.idea

resources/main.js
resources/public/js/*
resources/public/css/main.css
.nrepl-port

pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/rethinkdb_data
