@import "basscss-extends";

body {
  font-family: Verdana, Geneva, sans-serif;
}

li .material-icons {
  font-size: 10px;
}


.h4 .material-icons {
  font-size: 16px;
}

.window {
  min-height: 100vh;

  .contacts-sidebar, .operations-sidebar {
    width: 220px;
  }
}

.logos img {
  width: 100px;
  margin-left: 5px;
}

.window-content {
  overflow-y: initial !important;
}

.message-table-wrapper {
  .messages-table {
    tr {
      background: #f5f5f4;

      td {
        border-top: 1px solid #fdfdfc;
        border-bottom: 1px solid #f0f0f0;

        white-space: normal;
        padding: 10px;

        span.time {
          float: right;
          color: darkgray;
        }

        span.user {
          font-weight: bold;
          padding-right: 10px;
        }

        div.message {
          border: 1px solid darkgray;
          border-radius: 5px;
          padding: 10px;
          background: white;
        }
      }
    }
  }
}

.login-screen {
  background: #f5f5f4;

  .login-form-container {
    background: #fafafa;
    padding: 10px 20px 20px 20px;
    margin: 50px auto auto auto;
    width: 300px;
    border: 1px solid #f0f0f0;
  }
}

div.messages-container {
  display: flex;
  flex-direction: column;
  div.message-input {
    align-self: flex-end;
    height: 56px;
    width: 100%;
    background: blue;

    div.text-area-container {
      position: relative;
      height: 100%;
      width: 100%;
      padding: 5px;
      textarea {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.dismiss-channel {
  width: 12px;
  text-align: center;
}

.flex-basis-scroll {
  flex-basis: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
